.stats-data{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
}
.stats-data h3{

    color: var(--black-100, #1C1C1C);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; /* 150% */
}

.stats-data p{
color: var(--black-100, #1C1C1C);
font-size: 12px;
font-weight: 400;
line-height: 18px; /* 150% */
}

.percent-track{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 4px;
}

.card-title h2{

font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

.eco-tabs-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 28px; 
}

/* Tablets and below (max-width: 1024px) → 1 column */
@media (max-width: 1024px) {
    .eco-tabs-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  /* Mobiles (max-width: 600px) → still 1 column but smaller gap */
  @media (max-width: 600px) {
    .eco-tabs-grid {
      grid-template-columns: 1fr;
      gap: 16px; /* reduce gap on small screens */
    }
  }